:root {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text-primary);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}


body,
blockquote,
dl,
dd,
h1,
h4,
h5,
h6,
hr,
figure,
pre {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text-primary);
}

/* index.css or global.css */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-background) var(--color-surface);
  /* thumb, track for Firefox */
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--color-surface);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-background);
  border-radius: 10px;
  border: 2px solid var(--color-surface);
  /* space around thumb */
}