.projects {
  padding: 4rem 1rem;
  height: 100vw;
  margin: var(--primary-margin);
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.2rem;
  color: var(--color-text-secondary);
  margin-bottom: 2rem;
}

.search {
  width: 100%;
  max-width: 600px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 2rem;
  padding-top: 2rem;
}

.card {
  background-color: var(--color-surface);
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  width: 360px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardContent {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  color: var(--color-text-primary);
  font-size: 1rem;
}

.headerLinks {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.iconLink {
  color: var(--color-text-secondary);
  font-size: 1.2rem;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconLink:hover {
  color: var(--color-text-primary-green);
  transform: translateY(-2px);
}


.techStack {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.tech {
  background-color: var(--color-border);
  padding: 0.25rem 0.6rem;
  font-size: 0.85rem;
  border-radius: 6px;
  color: var(--color-text-secondary);
  border: 1px solid var(--color-border);
}

.description {
  font-size: 0.95rem;
  color: var(--color-text-secondary);
}


@media (max-width: 768px) {
  .projects {

    margin: 0;
  }

  .title {
    font-size: 2.2rem;
    text-align: center;
  }

  .subtitle {
    font-size: 1rem;
    text-align: center;
    padding: 0 0.5rem;
  }


  .grid {
    grid-template-columns: 1fr;
    /* Stack cards */
  }

  .image {
    height: 180px;
  }

  .cardContent {
    padding: 1rem;
  }

  .tech {
    font-size: 0.8rem;
  }

  .description {
    font-size: 0.9rem;
  }

  .cardHeader h2 {
    font-size: 1.1rem;
  }

  .icon {
    font-size: 0.9rem;
  }
}